.header  {
    text-align: center;
    background-color: blue;
    color: white;
    margin: 30px;
    font-size: larger;
    padding: 2px 4px 6px 8px;
}

#City {
    text-align: left;
    font-weight: bold;
    font-size: 200%
}

#Forecast {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.btn {
    font-size: larger;
    color: white;
    background-color: blue;
}

.form-control {
    width: 25%;
}

.card {
    width: 18%;
}

#current {
    display: flex;
    justify-content: space-between;
}
.current-weather {
    min-width: 500px;
}